staff:
  password: staff password

discord:
  token: xxxx
  application_id: 0
  guild_id: 0
  disabled_commands:
  - hogehoge

slack:
  username: slack bot user
  icon_emoji: hoge
  webhook_url: https://example.com

recreate:
  baseurl: https://example.com
  username: hoge
  password: hoge

teams:
- id: hogeID
  channel_name: hogeChannel
  role_name: hogeRole
  invitation_code: hogeInvitation
  user_group_id: hogeUG

problems:
- id: abc
  name: problem abc
